*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // rem unit value definition 1rem=10px because 10px/16px = 0.625 or 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px since 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px since 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 9px since 9/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
